.table {
	display: flex;
	flex-direction: column;
	row-gap: var(--space-sm);
}

.list {
	display: flex;
	flex-direction: column;
	row-gap: var(--space-sm);
}

.row {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1.5fr 1fr;
	align-items: center;

	padding: var(--space-md);
}

.headerButton {
	display: flex;
	align-items: center;
	column-gap: 8px;

	background-color: inherit;
	transition: color var(--transition);
	cursor: pointer;

	font-weight: 500;
	font-size: 11px;
	text-transform: uppercase;
	text-align: start;
	color: var(--brown);

	&:hover {
		color: var(--gray);
	}
}

.iconUp {
	transform: rotate(90deg);
}
.iconDown {
	transform: rotate(270deg);
}
