.title {
	height: 40px;

	font-family: var(--fonts-second);
	font-size: 26px;
	line-height: 1.22;
	font-weight: 700;
}

.subtitle {
	font-family: var(--fonts-second);
	font-size: 14px;
	line-height: 1.22;
	font-weight: 600;
}
